.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 14px;


}

.error {
}

.inputClass {


}

.input:focus {
}

.errorInput {
}

.button {

    margin: 0 0 0 10px;


;

}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
